/* styling for parent level */
@import '../style/_variables.scss';

.homElement {
  background-color: $main-page-color;
  color: $brand-black;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
  width: 400px;
};
