@import '../../style/variables.scss';

.CardWrapper {
  color: $brand-black;
  background-color: $brand-grey;
  border-radius: 8px;
  height: 200px;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
};

.CardPhotoSection {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 200px;
  background-color: $component-testing-color;
}

.CardBottomSection {

}