@import '../../style/variables.scss';

.CardWrapper {
  color: $theme-white;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-size: contain;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
};

.CardWrapper:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.CardPhotoSection {
  width: 100%;
  height: 100%;
}

.CardTextSection {
  width: 100%;
  height: 100%;
}

.CardButton {
  display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background-color: #e74c3c;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}