@import './style/style.scss';

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./fonts/Roboto/roboto-regular-webfont.woff2') format('woff2')
       url('./fonts/Roboto/roboto-regular-webfont.woff') format('woff')
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-theme-color;
  color: $theme-blue;
  line-height: 1.5;
  font-weight: normal;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}