@import '../../style/style.scss';

.BannerWrapper {
  color: $theme-blue;
  background-color: $main-theme-color;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid white;
}

.ParentOfBannerElements {
  color: $theme-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.DeveloperName {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.Title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.Description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.SectionWrapper {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  gap: 10px;
  padding-right: 25px;
}

@media (max-width: 768px) {
  .BannerWrapper {
    flex-direction: row;
    text-align: center;
  }

  .SectionWrapper {
    margin-top: 10px;
  }
}